{
    "title": "home-cluster",
    "category": "SERVER",
    "fields": [
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CLUSTER_ID",
            "type": "STRING",
            "label": "CLUSTER_ID",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CLUSTER_SECRET",
            "type": "STRING",
            "label": "CLUSTER_SECRET",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "SECRETS_BOOTSTRAPTOKEN",
            "type": "STRING",
            "label": "SECRETS_BOOTSTRAPTOKEN",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "SECRETS_SECRETBOXENCRYPTIONSECRET",
            "type": "STRING",
            "label": "SECRETS_SECRETBOXENCRYPTIONSECRET",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "TRUSTDINFO_TOKEN",
            "type": "STRING",
            "label": "TRUSTDINFO_TOKEN",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_ETCD_CRT",
            "type": "STRING",
            "label": "CERTS_ETCD_CRT",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_ETCD_KEY",
            "type": "STRING",
            "label": "CERTS_ETCD_KEY",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_K8S_CRT",
            "type": "STRING",
            "label": "CERTS_K8S_CRT",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_K8S_KEY",
            "type": "STRING",
            "label": "CERTS_K8S_KEY",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_K8SAGGREGATOR_CRT",
            "type": "STRING",
            "label": "CERTS_K8SAGGREGATOR_CRT",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_K8SAGGREGATOR_KEY",
            "type": "STRING",
            "label": "CERTS_K8SAGGREGATOR_KEY",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_K8SSERVICEACCOUNT_KEY",
            "type": "STRING",
            "label": "CERTS_K8SSERVICEACCOUNT_KEY",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_OS_CRT",
            "type": "STRING",
            "label": "CERTS_OS_CRT",
            "value": "???"
        },
        {
            "section": {
                "label": "TALOS",
                "id": "TALOS"
            },
            "id": "CERTS_OS_KEY",
            "type": "STRING",
            "label": "CERTS_OS_KEY",
            "value": "???"
        }
    ],
    "sections": [
        {
            "label": "TALOS",
            "id": "TALOS"
        }
    ]
}